body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background: linear-gradient(135deg, #ce1126, #fcd116, #006b3f);
    background-size: 300% 300%;
    animation: ghanaMove 10s ease infinite;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: 0.4s;
}

/* Smooth moving Ghana flag effect */
@keyframes ghanaMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/* DARK MODE */
body.dark {
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
}

.container {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 15px;
    width: 340px;
    text-align: center;
    color: white;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    border: 1px solid rgba(252, 209, 22, 0.4);
}

body.dark .container {
    background: rgba(0, 0, 0, 0.4);
}

/* Button styles */
button {
    background: #4ca1af;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 8px;
    font-weight: bold;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.03);
}

/* Theme button */
#toggleTheme {
    background: #ffb703;
    color: black;
    margin-bottom: 10px;
}

#result {
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
    background: rgba(255,255,255,0.2);
    opacity: 0;
    transform: translateY(10px);
    transition: 0.4s;
}

#result.show {
    opacity: 1;
    transform: translateY(0);
}